@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@keyframes FadeIn {
    from{
        transform: translateX(-2em);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
    
}
*{
    margin: 0;
    font-family: 'nunito';
}
html{
    height: 100%;
}
body{
    background-color: rgb(130, 38, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;   
}

#buscarReserva{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(168, 50, 74);
    color: rgb(222, 205, 188);
    border-radius: 1em;
    padding: 2em;
    animation: FadeIn .5s;
}
h1{
    
    margin-bottom: 1em;
}

input{
    
    font-size: large;
    padding: 0.2em;
    border: none;
    background-color: #e7e6dd;
}
.boton{
    text-align: center;
}

#boton{
    margin-top: 1em;
    margin: auto;
    width: 10em;
    border: none;
    font-size: large;
    margin-bottom: 1em;
    padding: 0.5em 0em;
    border-radius: 5em;
    color: rgb(70, 71, 65);
}
#boton:hover{
    transition: 0.1s ease-in-out;
    cursor: pointer;
    background-color: rgb(70, 71, 65);
    color: #e7e6dd;
}
